body{
  margin: 0;
  background-color: #544B3D;
}

.header{
  display: flex;
  justify-content: space-around;
  background-color:#4E6E58;
  padding-bottom: 5vh;
}
.playlistHeader{
  color: #CEF3E6;
}
.playlistTitle{
  display: flex;
  flex-direction: row;
  
}

.title {
  color: #CEF3E6;
}

.songList{
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 300px;
  line-height: 3vh;
  list-style: none;
  flex-wrap: wrap;
}
.song{
 padding: 10px;
 border: solid 1px;
 width: 250px;
 height: 250px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 5px;
 background-color: #A6ECE0;
}
.channelOrange{
 width: 150px;
}

.body{
  display: flex;
  justify-content:space-evenly;
}

.playlist-container{
 padding-right: 17vh;
}

.playlist{
 display: flex;
 flex-direction: column;
 align-content: center;
 align-content: space-between;
}

.playlist-item{
display: flex;
width: 300px;
border: black solid 1px;
justify-content: space-between;
padding-right: 100px;
background-color: #7ADFBB;
height: 50px;
}
