body{
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  padding-bottom: 5vh;
}

.playlistTitle{
  display: flex;
  flex-direction: row;
  
}

.title {
  border: black solid 1px;
}

.songList{
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 300px;
  line-height: 3vh;
  list-style: none;
  flex-wrap: wrap;
}
.song{
 padding: 10px;
 border: solid 1px;
 width: 250px;
 height: 250px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 5px;
}
.channelOrange{
 display: flex;
 flex-direction: column;
 justify-self: flex-start;
 width: 150px;
}

.body{
  display: flex;
  justify-content:space-evenly;
}
.playlist-container{
 padding-right: 100px;
}
.playlist{
 display: flex;
 flex-direction: column;
 align-content: center;
}

.playlist-item{
display: flex;
width: 300px;
border: black solid 1px;
display: flex;
justify-content: center;
padding-right: 100px;
}
